
html {
    
    height: 100%;
    width: 100%;  
    background: linear-gradient( to bottom right, #18253a, #000000);

}

body {

    height: 99%;
    width: 99%;
    font-family: Arial, Helvetica, sans-serif;
    overflow: hidden; /* Hide scrollbars */
  
}

/* Overskrift */

#header {
  height:10vh;
  text-align: center;
}

#headertext {

    display: block;
    margin: auto;
    text-align: center;
    font-family: 'Inconsolata', monospace;
    font-size: 5vh;
    font-weight: bold;
    letter-spacing: 5px;
    background-image: linear-gradient(to right,
          #462523 0,
          #cb9b51 22%, 
          #f6e27a 45%,
          #f6f2c0 5%,
          #f6e27a 55%,
          #cb9b51 78%,
          #462523 100%
      );
    color:transparent;
    -webkit-background-clip:text;

  }

/* Design af knapper */

  button {
    width:70px;

  }


  /* CSS for video */

  #wrapall {
    display: block;
    align-items: center;
    padding-right: 2vh;
    height: 85%;
    /* background: green;*/
    position:relative;
    
  }

  #video1 {
    /*margin: 0 20px 20px 0;*/
    /*--width: 100%;
    --height: 100%;*/
    top: 0px;
    left: 0px;
    min-width: 100%;
    min-height: 100%;
    max-height: 100%;
    max-width: 100%;
  }

  #video2 {
    /*margin: 0 20px 20px 0;*/
    /*--width: 100%;
    --height: 100%;*/
    top: 0px;
    left: 0px;
    min-width: 100%;
    min-height: 100%;
    max-height: 100%;
    max-width: 100%;
  }
  #video3 {
    /*margin: 0 20px 20px 0;*/
    /*--width: 100%;
    --height: 100%;*/
    top: 0px;
    left: 0px;
    min-width: 100%;
    min-height: 100%;
    max-height: 100%;
    max-width: 100%;
  }

  #participants {
    
 }

  .participantvideos {
    /*margin: 10px 75px 200px 75px;*/
    /*--width: 10%;*/
    width: 15vh;
    height: 15vh;
  }


  #Participant1 {  
    position: absolute;
    bottom: 1vh;
    right: 28vh;
}

#Participant2 {
    position: absolute;
    bottom: 1vh;
    right: 44.5vh;
}


  @media screen and (max-width: 400px) {
      button {
        margin: 0 11px 10px 0;
      }

      video {
        height: 90px;
        margin: 0 0 10px 0;
        width: calc(50% - 8px);
      }

      video#video1 {
        margin: 0 10px 10px 0;
      }

  }

/* CSS for footer */

#footer {
  height: 5%;
}

  #thelostgold-footertext {
      font-family: 'Inconsolata', monospace;
      position: fixed;
      bottom: 0;
      width: 99%;
      margin: 0 auto;
    font-size: 3vh;
    font-weight: bold;
    text-align: center;
    margin-inline-end: 5%;
    letter-spacing: 30px;
    background-image: linear-gradient(
    to right,
    #462523 0,
    #cb9b51 22%, 
    #f6e27a 45%,
    #f6f2c0 5%,
    #f6e27a 55%,
    #cb9b51 78%,
    #462523 100%
    );
    color:transparent;
    -webkit-background-clip:text;
    }

    #submarine {
    margin-top: 200px;
    position: absolute;
    left: 45%;
    margin-left:-256px;


        
    
    }