* {
  box-sizing: border-box;
}

html {
  height: 100%;
  
}

body {
  height: 100%;
  margin: 0;
  
  background: linear-gradient(to bottom right, #142033, #000000);

}


#robot {
  display: flex block;
  justify-content: center;
  text-align: center;
  margin-top: 50px;
}

.inner {

  display: inline-block;
  padding: 0 275px 0 275px;
  

}