* {
  box-sizing: border-box;
}

html {
  height: 100%;
  
}

body {
  height: 100%;
  margin: 0;
  
  background: linear-gradient(to bottom right, #142033, #000000);

}


#robot {
    margin-top: 50px;
    
    text-align: center;
}

#participants1 {
  
  width: 30%;
  float: left;
  clear: none; 
  margin-right: 200px;
}

#participants1 {
  
  width: 30%;
  float: right;
  clear: none; 
  margin-left: 200px;

}