* {
  box-sizing: border-box;
}

html {
  height: 100%;
  
}

body {
  height: 100%;
  margin: 0;
  padding: 10px;
  background: linear-gradient(to bottom right, #142033, #000000);

}

.wrapper {
  height: 100%;
  display: grid;
  
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(1, 1fr);

  grid-gap: 10px;

  div.inner {
    
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    text-align: center;
  }
  
}

#robot {
  
  margin: auto;
  align-self: center;
}
