/* Make the page use the entire screen */


html{
    height: 100%;
  }
  
  body {
    margin: auto;
    height: 100%;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    display: grid;

    /*background-color: #121c29;*/
    background: linear-gradient(to bottom right, #121c29, #000000);

}
  

  /* White rectangle in the middle of the screen */
  
  #main-holder {
    margin: auto;
    max-width: 500px;
    display: grid;
    justify-items: center;
    align-items: center;
    /* background-color: white;*/
    /* border-radius: 7px; */
    /* box-shadow: 0px 0px 1px 1px black;*/
  }
  
  /* -------------------------------------------------------------- */
  
  #login-header {

    position: top;
    font-family: 'Inconsolata', monospace;
    font-size: 4rem;
    font-weight: bold;
    letter-spacing: 5px;
    background-image: linear-gradient(
   to right,
      #462523 0,
      #cb9b51 22%, 
      #f6e27a 45%,
      #f6f2c0 5%,
      #f6e27a 55%,
      #cb9b51 78%,
      #462523 100%
   );
    color:transparent;
    -webkit-background-clip:text;

    /* align
    font-family: 'Inconsolata', monospace;
    font-size: 4rem;
    font-weight: bold;
    margin-bottom: 0%;
    */
  }

  
  /* -------------------------------------------------------------- */
  
  /* Middle row of the main grid (contains the error message) */
  
  #login-error-msg-holder {
    font-size: small;
    width: 100%;
    height: 100%;
    display: grid;
    justify-items: center;
    align-items: center;
  }
  
  /* Error message. By default it's transparent, but the opacity is controlled
  by JavaScript */
  
#submarine {
  margin: 0;
}

  #login-error-msg {
    width: 100%;
    text-align: center;
    margin: 0;
    padding: 2px;
    font-size: 12px;
    
    color: #901A1E;
    /*border: 1px solid #8a0000;*/
    /*background-color: #e58f8f;*/
    opacity: 0;
  }
  
  #error-msg-second-line {
    display: block;
  }
  
  /* -------------------------------------------------------------- */
  
  /* Adjust the positioning of the login form inside the last row of the
  main grid */
  
  #login-form {
    align-self: flex-start;
    display: grid;
    justify-items: center;
    align-items: center;
  }
  
  /* Style the login form fields' placeholders */
  
  .login-form-field::placeholder {
    color: #856d2a;
  }
  
  /* Style the login form fields (username and password) */
  
  .login-form-field {
    border: none;
    border-bottom: 1px solid #3a3a3a;
    margin-bottom: 10px;
    border-radius: 5px;
    outline: none;
    padding: 0px 0px 5px 5px;
  }
  
  /* Style the login button */
  
  #login-form-submit {
    width: 100%;
    padding: 7px;
    border: 0px;
    border-radius: 5px;
    background-image: linear-gradient(
      to right,
         #462523 0,
         #cb9b51 22%, 
         #f6e27a 45%,
         #f6f2c0 50%,
         #f6e27a 55%,
         #cb9b51 78%,
         #462523 100%
      );
  }
  #username-field {
    background-color: transparent;
    text-align: center;
   
  }
  #password-field {
  background-color: transparent;
    text-align: center;
    
  }
  
  #thelostgold-footertext {
    position: bottom;
    text-align:center;
    font-family: 'Inconsolata', monospace;
    font-size: 10;
    font-weight: bold;
    letter-spacing: 5rem;
    background-image: linear-gradient(
   to right,
      #462523 0,
      #cb9b51 22%, 
      #f6e27a 45%,
      #f6f2c0 5%,
      #f6e27a 55%,
      #cb9b51 78%,
      #462523 100%
   );
    color:transparent;
    -webkit-background-clip:text;


  }
